<h1>Quotes FTW</h1>

<% @quotes.each do |quote| %>
  <blockquote><p><%=quote[:quote]%></p>
    <footer>
      <cite><%=quote[:author]%></cite>
    </footer>
  </blockquote>
  <!-- TIL: http://html5doctor.com/cite-and-blockquote-reloaded/ -->
<% end %>

<h3>Search!</h3>

<!-- form sends GET request to the '/search' path with a textbox named term -->

<form action="/search" method = "GET">
  <input type="text" name="terms">
  <input type="submit">
</form>
<!--Create a list of "cool searches" that consist of links to `/search?terms=<term>` -->
<h3>Cool Searches</h3>
  <ul><a href ="/search?terms=<Codebreakers>">Codebreakers</a></ul>
  <ul><a href ="/search?terms=<Enigma>">Enigma</a></ul>
  <ul><a href ="/search?terms=<WWII>">WWII</a></ul>

<!--Create links to each authors page on the home view.-->
<h3>Authors!</h3>
  <ul><a href ="/search?terms=<E. W. Dijkstra>">E. W. Dijkstra</a></ul>
  <ul><a href ="/search?terms=<Ken Thompson>">Ken Thompson</a></ul>
  <ul><a href ="/search?terms=<Brian W. Kerinighan and P. J. Plauger>">Brian W. Kerinighan and P. J. Plauger</a></ul>
  <ul><a href ="/search?terms=<Alan Turing>">Alan Turing</a></ul>
  <ul><a href ="/search?terms=<John Carmack>">John Carmack</a></ul>
  <ul><a href ="/search?terms=<Grace Hopper>">Grace Hopper</a></ul>
  <ul><a href ="/search?terms=<Pablo Picasso>">Pablo Picasso</a></ul>
  <ul><a href ="/search?terms=<Ada Lovelace>">Ada Lovelace</a></ul>
